<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.weberish.getmycoords"
        version   = "1.0.0">
  <name>Localizacion</name>
  <description>Un proyecto en blanco que usa Apache Cordova para ayudarle a compilar una aplicación que tiene varias plataformas móviles como destino: Android, iOS y la plataforma universal de Windows.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Su nombre aquí</author>

  <!-- Customize your app and platform with the preference element. -->
  <preference name="phonegap-version"           value="cli-6.4.0" />
  <!-- all: current version of PhoneGap -->
  <preference name="orientation"                value="default" />
  <!-- all: default means both landscape and portrait are enabled -->
  <preference name="target-device"              value="universal" />
  <!-- all: possible values handset, tablet, or universal -->
  <preference name="fullscreen"                 value="false" />
  <!-- all: hides the status bar at the top of the screen -->
  <preference name="webviewbounce"              value="true" />
  <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
  <preference name="prerendered-icon"           value="true" />

  <preference name="android-minSdkVersion"      value="7" />
  <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
  <preference name="android-installLocation"    value="auto" />
  <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
  
  <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
  <preference name="permissions" value="none"/>
  <!-- Core plugins -->
  <plugin name="cordova-plugin-whitelist" spec="^1.2.2" />
  <plugin name="cordova-plugin-geolocation" spec="^1.0.0" />
  <!-- Define app icon for each platform. This is a relative path to config.xml.
        For e.g. if you place an icon.png inside res folder, you should modify the
        src in the following setting to "res/icon.png" -->
  <icon src="icon.png" />

  <!-- Allow geo: links to open maps -->
  <allow-intent href="geo:*" />

  <!-- Allow links to web pages to open in a browser -->
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  
</widget>